{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>

    <div class="page-header">
      {% if user.is_authenticated %}
        <p class="top-menu texto_spans" style="margin-bottom: 0;"><a href="{% url 'logout' %}">Sair</a></p>
        <a href="{% url 'post_novo' %}" class="top-menu texto_spans"><span class="glyphicon glyphicon-plus"></span> Nova publicação</a>
        <a href="{% url 'post_lista_rascunhos' %}" class="top-menu texto_spans"><span class="glyphicon glyphicon-edit"></span> Rascunhos</a>
        <p class="top-menu texto_spans p-0" style="margin-bottom: 0;">Olá {{ user.username }}</p>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span> Login</a>
      {% endif %}
      <h1><a href="/">Meu site em Django</a></h1>
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
